.create-ticket {
    &__step-one {
        display: flex;
        flex-direction: column;

        .ticket-card {
            width: calc(50% - 8px);
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }

    &__step-two {
        .ticket-card {
            width: 100%;
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }

    &__step-ticket {
        .heading {
            margin-bottom: 10px !important;
        }

        .grid-table {
            margin-top: 12px;
        }

        .switches-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .switch-block {
                width: calc((100%/3) - 14px);

                &:nth-child(n+4) {
                    margin-top: 1.5rem;
                }
            }
        }
    }
}
