.btn {
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.2);

    &_blue {
        background-image: linear-gradient(120deg, #0244FF 0%, #0188FF 100%);
        color: white;
        box-shadow: 0px 8px 50px rgba($color: #0244FF, $alpha: 0.75);

        &.btn_small {
            box-shadow: -10px 10px 20px rgba(2, 68, 255, 0.25);
        }
    }

    &_white {
        background: white;
        color: #CCCCCC;
    }

    &_big {
        width: 80%;
        height: 60px;
        font-size: 20px;
    }

    &_small {
        font-size: 10px;
        line-height: 10px;
        text-transform: uppercase;
        height: 2rem;
    }

    &_transparent {
        box-shadow: none;
        background: transparent;
        font-size: 8px;
        color: #9B9B9B;
        letter-spacing: 0;
        line-height: 10px;
    }

    &_gray-border {
        border: 1px solid #979797;
    }
}
