.wallet {
    &-card {
        padding: 12px;
        padding-top: 6px;
    }

    &__btns {
        display: flex;
        flex-direction: column;

        & + * {
            margin-top: 24px;
        }
    }

    &__button {
        background: #FFFFFF;
        box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        border: none;
        -webkit-appearance: none;
        display: flex;
        padding: 24px;
        align-items: center;
        justify-content: center;

        span {
            font-weight: $book;
            opacity: 0.58;
            font-size: 12px;
            color: #4A4A4A;
            letter-spacing: 0;
        }

        > div {
            display: flex;
            align-items: center;
        }

        &-icon {
            opacity: 0.5;

            & + * {
                margin-left: 1rem;
            }
        }

        & + * {
            margin-top: 1rem;
        }
    }
}

.wallet-table {
    &__title {
        font-weight: $medium;
        font-size: 20px;
        color: #2E3C54;
        letter-spacing: 0;
        line-height: 20px;
        width: 55%;
    }
}

.grid-table {
    &__row {
        display: grid;
        grid-template-columns: 2fr repeat(3, 1fr);
        grid-gap: 1rem;
        border-bottom: 1px dashed #9B9B9B;
        padding-bottom: 8px;
        padding-top: 14px;

        &_head {
            border-bottom: none;
            padding: 0;
            margin-bottom: -8px;
        }
    }

    &__cell {
        font-weight: $medium;
        font-size: 12px;
        color: #2E3C54;
        letter-spacing: 0;

        &_head {
            font-size: 10px;
        }
    }
}
