body {
    font-family: "FuturaPT";
    background: #fafafa;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input,
textarea,
button {
    outline: none;
}

main {
    max-width: 700px;
    margin: 0 auto;
}

.hint {
    font-weight: $medium;
    font-size: 12px;
    color: #4a4a4a;
    margin: 1rem 0 !important;
}

.no-events {
    pointer-events: none;
}

.half-transparent {
    opacity: 0.5;
}

.heading {
    font-weight: $medium;
    font-size: 16px;
    color: #4a4a4a;
    letter-spacing: 0;
    line-height: 23px;
    margin: 1.7rem 0;
}

