.main-page {
    padding: 50px 20px 100px 50px;
    display: flex;
    flex-direction: column;

    @media (max-width: 330px) {
        padding-left: 20px;
    }
}

.conference-block {
    .main-page__section {
        margin-top: 20px !important;
    }

    &__name {
        font-size: 17px;
        color: #000000;
        font-weight: $medium;
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &__avatar {
        width: 165px;
        height: 165px;
        background: rgba(208, 228, 255, 0.5);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .main-nav__item::before {
        content: initial;
    }

    .card {
        height: 56vh;
        position: relative;
        overflow: hidden;
    }

    .circle {
        position: absolute;
        width: 100px;
        height: 100px;
        background-image: linear-gradient(-146deg, #0244FF 0%, #0188FF 100%);
        border-radius: 50%;
        top: 50%;
        display: flex;
        align-items: center;

        &_left {
            filter: drop-shadow(5px 5px 12px rgba($color: #0244FF, $alpha: 0.4));
            left: 0;
            transform: translate(-50%, -50%);

            svg {
                position: absolute;
                right: 20px;
            }
        }

        &_right {
            filter: drop-shadow((-5px) 5px 12px rgba($color: #0244FF, $alpha: 0.4));
            right: 0;
            transform: translate(50%, -50%);

            svg {
                position: absolute;
                left: 22px;
            }
        }
    }
}
