.custom-select {
    & + * {
        margin-top: 1.3em;
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__arrow {
        display: flex;
        align-items: center;
    }

    &__selected {
        color: rgba($color: #000000, $alpha: 0.33);

        & + * {
            margin-left: 1em;
        }
    }

    &_big {
        padding-bottom: 5px;
        width: max-content;
        border-bottom: 2px solid #2E3C54;

        .custom-select {
            &__selected {
                font-size: 28px;
                color: #2E3C54;
                letter-spacing: 0;
                font-weight: $medium;

                & + * {
                    margin-left: 2em;

                    * {
                        opacity: 1;
                        fill: #2E3C54;
                    }
                }
            }
        }
    }
}
