.account-card {
    flex-direction: column;

    &__personal-info {
        display: flex;
        justify-content: space-between;
        width: 100%;

        & + * {
            margin-top: 1rem;
        }

        > * {
            width: 100%;

            > * + * {
                margin-top: 8px;
            }
        }
    }

    &__inputs-wrap {
        display: flex;
        flex-direction: column;

        &_horizontal {
            display: flex;
            margin-top: 1rem;
            justify-content: space-between;
            flex-direction: row;

            > .input-block {
                width: calc(50% - 8px);
            }
        }
    }

    &__avatar {
        width: 95px;
        height: 95px;
        min-width: 95px;
        min-height: 95px;
        object-fit: cover;
        background: #d8d8d8;
        border-radius: 8px;

        & + * {
            margin-left: 1em;
        }
    }

    .btn {
        margin-top: 1rem;
        width: 50%;
        align-self: center;
    }

    &.flex-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .account-card__inputs-wrap {
            width: 100%;
            padding-right: 5%;
        }

        .btn {
            width: 40%;
            height: 27px;
        }
    }
}
