.footer-nav {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: #FAFAFA;

    &__item {
        width: 13%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
