.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15vh;

    &__img {
        & + * {
            margin-top: 10vh;
        }
    }

    &__btn {
        & + * {
            margin-top: 3vh;
        }
    }

    &__logo {
        margin-top: 4vh;
    }
}

.form-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 30px;
    width: 80%;
    position: absolute;
    top: 55%;

    // opacity: .5;
    padding: 20px 40px;

    > * + * {
        margin-top: 26px;
    }

    &__title {
        color: #262424;
        letter-spacing: 0;
        text-align: center;
        font: {
            size: 20px;
            weight: $medium;
        };
    }

    .btn {
        width: 100%;
        height: 38px;
        text-transform: capitalize;
        font: {
            size: 12px;
            weight: $book;
        };
    }
}
