/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: FuturaPT;
  src: url("../fonts/FuturaPTBold.otf");
  font-weight: 700; }

@font-face {
  font-family: FuturaPT;
  src: url("../fonts/FuturaPTDemi.otf");
  font-weight: 600; }

@font-face {
  font-family: FuturaPT;
  src: url("../fonts/FuturaPTMedium.otf");
  font-weight: 400; }

@font-face {
  font-family: FuturaPT;
  src: url("../fonts/FuturaPTBook.otf");
  font-weight: 300; }

@font-face {
  font-family: FuturaPT;
  src: url("../fonts/FuturaPTLight.otf");
  font-weight: 100; }

body {
  font-family: "FuturaPT";
  background: #fafafa;
  -webkit-font-smoothing: antialiased; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

input,
textarea,
button {
  outline: none; }

main {
  max-width: 700px;
  margin: 0 auto; }

.hint {
  font-weight: 400;
  font-size: 12px;
  color: #4a4a4a;
  margin: 1rem 0 !important; }

.no-events {
  pointer-events: none; }

.half-transparent {
  opacity: 0.5; }

.heading {
  font-weight: 400;
  font-size: 16px;
  color: #4a4a4a;
  letter-spacing: 0;
  line-height: 23px;
  margin: 1.7rem 0; }

.main-page {
  padding: 50px 20px 100px 50px;
  display: flex;
  flex-direction: column; }
  @media (max-width: 330px) {
    .main-page {
      padding-left: 20px; } }

.conference-block .main-page__section {
  margin-top: 20px !important; }

.conference-block__name {
  font-size: 17px;
  color: #000000;
  font-weight: 400;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%, 0); }

.conference-block__avatar {
  width: 165px;
  height: 165px;
  background: rgba(208, 228, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden; }
  .conference-block__avatar img {
    width: 100%;
    height: 100%; }

.conference-block .main-nav__item::before {
  content: initial; }

.conference-block .card {
  height: 56vh;
  position: relative;
  overflow: hidden; }

.conference-block .circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: linear-gradient(-146deg, #0244FF 0%, #0188FF 100%);
  border-radius: 50%;
  top: 50%;
  display: flex;
  align-items: center; }
  .conference-block .circle_left {
    filter: drop-shadow(5px 5px 12px rgba(2, 68, 255, 0.4));
    left: 0;
    transform: translate(-50%, -50%); }
    .conference-block .circle_left svg {
      position: absolute;
      right: 20px; }
  .conference-block .circle_right {
    filter: drop-shadow(-5px 5px 12px rgba(2, 68, 255, 0.4));
    right: 0;
    transform: translate(50%, -50%); }
    .conference-block .circle_right svg {
      position: absolute;
      left: 22px; }

.footer-nav {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: #FAFAFA; }
  .footer-nav__item {
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center; }

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15vh; }
  .home-page__img + * {
    margin-top: 10vh; }
  .home-page__btn + * {
    margin-top: 3vh; }
  .home-page__logo {
    margin-top: 4vh; }

.form-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border-radius: 30px;
  width: 80%;
  position: absolute;
  top: 55%;
  padding: 20px 40px; }
  .form-popup > * + * {
    margin-top: 26px; }
  .form-popup__title {
    color: #262424;
    letter-spacing: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 400; }
  .form-popup .btn {
    width: 100%;
    height: 38px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 300; }

.btn {
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.2); }
  .btn_blue {
    background-image: linear-gradient(120deg, #0244FF 0%, #0188FF 100%);
    color: white;
    box-shadow: 0px 8px 50px rgba(2, 68, 255, 0.75); }
    .btn_blue.btn_small {
      box-shadow: -10px 10px 20px rgba(2, 68, 255, 0.25); }
  .btn_white {
    background: white;
    color: #CCCCCC; }
  .btn_big {
    width: 80%;
    height: 60px;
    font-size: 20px; }
  .btn_small {
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    height: 2rem; }
  .btn_transparent {
    box-shadow: none;
    background: transparent;
    font-size: 8px;
    color: #9B9B9B;
    letter-spacing: 0;
    line-height: 10px; }
  .btn_gray-border {
    border: 1px solid #979797; }

.main-nav {
  display: flex;
  align-items: center; }
  .main-nav + * {
    margin-top: 50px !important; }
  .main-nav__item {
    color: #2E3C54;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    display: flex;
    opacity: .5; }
    .main-nav__item + * {
      margin-left: 1.23em; }
    .main-nav__item::before {
      content: '';
      position: absolute;
      background: #0188FF;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: -8px;
      opacity: 0;
      transition: all 0.3s ease-in-out; }
    .main-nav__item_active {
      opacity: 1; }
      .main-nav__item_active::before {
        opacity: 1; }

.card {
  background: white;
  display: flex;
  padding: 22px;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px; }
  .card + * {
    margin-top: 1em; }
  .card__left + * {
    margin-left: 1em; }
  .card__avatar-holder {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    overflow: hidden;
    background: #D8D8D8; }
  .card__avatar {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .card__text {
    font-size: 12px;
    color: #2E3C54;
    font-weight: 300;
    margin: 0; }
    .card__text + * {
      margin-top: 1.1em; }
  .card__subtitle {
    font-size: 10px;
    font-weight: 400;
    color: #CECECE; }
    .card__subtitle + * {
      margin-top: 6px; }
  .card__info-wrap {
    display: flex; }
    .card__info-wrap + * {
      margin-top: 24px; }
  .card__btns {
    display: flex;
    align-items: center; }
    @media (max-width: 330px) {
      .card__btns {
        flex-direction: column; }
        .card__btns .btn {
          width: 100%; } }
    .card__btns .btn span {
      text-align: center; }
    .card__btns .btn:first-child {
      width: 65%; }
      @media (max-width: 380px) {
        .card__btns .btn:first-child {
          width: 80%; } }
  @media (max-width: 380px) and (max-width: 330px) {
    .card__btns .btn:first-child {
      width: 100%; } }
      .card__btns .btn:first-child + * {
        margin-left: 1em; }
    .card__btns .btn:last-child {
      width: 25%; }
      @media (max-width: 330px) {
        .card__btns .btn:last-child {
          width: 100%;
          margin: 0; } }

.info {
  display: flex;
  flex-direction: column; }
  .info + .info {
    margin-left: 1.8em; }
  .info__heading {
    font-size: 11.76px;
    color: #E3E3E3;
    font-weight: 300; }
    .info__heading + * {
      margin-top: 5px; }
  .info__content {
    font-size: 14.4px;
    color: #4A4A4A;
    font-weight: 600; }

.history-card {
  background: white;
  display: flex;
  padding: 22px;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px; }
  .history-card + * {
    margin-top: 1em; }
  .history-card__left + * {
    margin-left: 1em; }
  .history-card__avatar-holder {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    overflow: hidden;
    background: #D8D8D8; }
  .history-card__avatar {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .history-card__text {
    font-size: 12px;
    color: #2E3C54;
    font-weight: 300;
    margin: 0; }
    .history-card__text + * {
      margin-top: 1.1em; }
  .history-card__subtitle {
    font-size: 10px;
    font-weight: 400;
    color: #CECECE;
    display: flex; }
    .history-card__subtitle + * {
      margin-top: 6px; }
  .history-card__info-wrap {
    display: flex; }
    .history-card__info-wrap + * {
      margin-top: 24px; }
  .history-card__btns {
    display: flex;
    align-items: center; }
    .history-card__btns .btn {
      padding: 10px 12px;
      font-size: 10px;
      font-weight: 300;
      color: #C0C0C0; }
      .history-card__btns .btn span {
        text-align: center; }

.info {
  display: flex;
  flex-direction: column; }
  .info + .info {
    margin-left: 1.8em; }
  .info__heading {
    font-size: 11.76px;
    color: #E3E3E3;
    font-weight: 300; }
    .info__heading + * {
      margin-top: 5px; }
  .info__content {
    font-size: 14.4px;
    color: #4A4A4A;
    font-weight: 600; }

.custom-select + * {
  margin-top: 1.3em; }

.custom-select__header {
  display: flex;
  align-items: center; }

.custom-select__arrow {
  display: flex;
  align-items: center; }

.custom-select__selected {
  color: rgba(0, 0, 0, 0.33); }
  .custom-select__selected + * {
    margin-left: 1em; }

.custom-select_big {
  padding-bottom: 5px;
  width: max-content;
  border-bottom: 2px solid #2E3C54; }
  .custom-select_big .custom-select__selected {
    font-size: 28px;
    color: #2E3C54;
    letter-spacing: 0;
    font-weight: 400; }
    .custom-select_big .custom-select__selected + * {
      margin-left: 2em; }
      .custom-select_big .custom-select__selected + * * {
        opacity: 1;
        fill: #2E3C54; }

.account-card {
  flex-direction: column; }
  .account-card__personal-info {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .account-card__personal-info + * {
      margin-top: 1rem; }
    .account-card__personal-info > * {
      width: 100%; }
      .account-card__personal-info > * > * + * {
        margin-top: 8px; }
  .account-card__inputs-wrap {
    display: flex;
    flex-direction: column; }
    .account-card__inputs-wrap_horizontal {
      display: flex;
      margin-top: 1rem;
      justify-content: space-between;
      flex-direction: row; }
      .account-card__inputs-wrap_horizontal > .input-block {
        width: calc(50% - 8px); }
  .account-card__avatar {
    width: 95px;
    height: 95px;
    min-width: 95px;
    min-height: 95px;
    object-fit: cover;
    background: #d8d8d8;
    border-radius: 8px; }
    .account-card__avatar + * {
      margin-left: 1em; }
  .account-card .btn {
    margin-top: 1rem;
    width: 50%;
    align-self: center; }
  .account-card.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .account-card.flex-row .account-card__inputs-wrap {
      width: 100%;
      padding-right: 5%; }
    .account-card.flex-row .btn {
      width: 40%;
      height: 27px; }

.input-block {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .input-block_centered-transparent .input-block__input {
    background: transparent;
    font-size: 12px;
    font-weight: 400;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #4A4A4A;
    text-align: center; }
  .input-block_gray-bg .input-block__heading {
    font-size: 10px;
    color: #9B9B9B;
    letter-spacing: 0;
    line-height: 10px;
    font-weight: 400; }
    .input-block_gray-bg .input-block__heading + * {
      margin-top: .75rem; }
  .input-block_gray-bg .input-block__input {
    background: #ECECEC;
    border: none;
    padding: 14px; }
  .input-block__heading {
    font-size: 10px;
    color: #cecece;
    letter-spacing: 0;
    line-height: 10px;
    margin: 0;
    font-weight: 400; }
    .input-block__heading + * {
      margin-top: 6px; }
  .input-block__input {
    outline: none;
    -webkit-appearance: none;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    font-size: 10px;
    color: #4a4a4a;
    letter-spacing: 0;
    padding: 7px 14px;
    width: 100%; }
  .input-block__dashed-border {
    margin-top: 1rem; }
    .input-block__dashed-border .input-block__input {
      padding-left: 0;
      padding-right: 0;
      font-size: 12px;
      color: #4A4A4A;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px dashed #9b9b9b;
      border-radius: 0; }

.article {
  display: flex;
  flex-direction: column; }
  .article__header + *, .article__content + * {
    margin-top: 2rem; }
  .article__heading {
    font-size: 28px;
    color: #2E3C54;
    text-align: left;
    font-weight: 400;
    margin: 0; }
  .article__text {
    font-size: 12px;
    color: #000000;
    text-align: left;
    font-weight: 400;
    margin: 0;
    line-height: 14px; }
    .article__text + * {
      margin-top: 1rem; }
  .article .btn {
    max-width: 150px; }

.info-page__section {
  margin-top: 72px; }

.ContactUs {
  display: flex;
  flex-direction: column; }
  .ContactUs .contact-us__contacts .contacts-block {
    width: 50%; }
    .ContactUs .contact-us__contacts .contacts-block:nth-child(2), .ContactUs .contact-us__contacts .contacts-block:nth-child(3) {
      float: left;
      margin-top: 2rem; }
  .ContactUs .contact-us__contacts + * {
    margin-top: 2.625rem; }
  .ContactUs .custom-select + * {
    margin-top: 2.625rem; }
  .ContactUs .input-block + * {
    margin-top: 1.5625rem; }

.contacts-block__heading {
  opacity: 0.33;
  font-size: 17px;
  color: #000000;
  font-weight: 400; }
  .contacts-block__heading + * {
    margin-top: 1rem; }

.contacts-block__content {
  font-size: 14px;
  line-height: 16px;
  color: #2E3C54;
  text-align: left;
  font-weight: 400; }

.contacts-block + * {
  margin-top: 1rem; }

.create-ticket__step-one {
  display: flex;
  flex-direction: column; }
  .create-ticket__step-one .ticket-card {
    width: calc(50% - 8px);
    margin-top: 0;
    margin-bottom: 1rem; }

.create-ticket__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; }

.create-ticket__step-two .ticket-card {
  width: 100%;
  margin-top: 0;
  margin-bottom: 1rem; }

.create-ticket__step-ticket .heading {
  margin-bottom: 10px !important; }

.create-ticket__step-ticket .grid-table {
  margin-top: 12px; }

.create-ticket__step-ticket .switches-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .create-ticket__step-ticket .switches-block .switch-block {
    width: calc((100%/3) - 14px); }
    .create-ticket__step-ticket .switches-block .switch-block:nth-child(n+4) {
      margin-top: 1.5rem; }

.ticket-card {
  display: flex;
  flex-direction: column;
  min-height: 190px;
  justify-content: space-between;
  position: relative; }
  .ticket-card_short {
    flex-direction: row;
    min-height: initial;
    align-items: center;
    padding: 1rem;
    padding-top: 24px; }
    .ticket-card_short .btn {
      font-weight: 400;
      font-size: 10px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 8px;
      width: 39%; }
    .ticket-card_short .ticket-card__subtitle {
      position: absolute;
      top: 14px; }
    .ticket-card_short .ticket-card__title {
      font-weight: 400;
      font-size: 12px;
      color: #4A4A4A;
      letter-spacing: 0; }
  .ticket-card__title {
    font-size: 20px;
    color: #2E3C54;
    line-height: 16px;
    font-weight: 600;
    margin: 0; }
  .ticket-card__subtitle {
    font-weight: 400;
    font-size: 10px;
    color: #C0C0C0; }
  .ticket-card .btn {
    height: 25px; }

.wallet-card {
  padding: 12px;
  padding-top: 6px; }

.wallet__btns {
  display: flex;
  flex-direction: column; }
  .wallet__btns + * {
    margin-top: 24px; }

.wallet__button {
  background: #FFFFFF;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: none;
  -webkit-appearance: none;
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: center; }
  .wallet__button span {
    font-weight: 300;
    opacity: 0.58;
    font-size: 12px;
    color: #4A4A4A;
    letter-spacing: 0; }
  .wallet__button > div {
    display: flex;
    align-items: center; }
  .wallet__button-icon {
    opacity: 0.5; }
    .wallet__button-icon + * {
      margin-left: 1rem; }
  .wallet__button + * {
    margin-top: 1rem; }

.wallet-table__title {
  font-weight: 400;
  font-size: 20px;
  color: #2E3C54;
  letter-spacing: 0;
  line-height: 20px;
  width: 55%; }

.grid-table__row {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  grid-gap: 1rem;
  border-bottom: 1px dashed #9B9B9B;
  padding-bottom: 8px;
  padding-top: 14px; }
  .grid-table__row_head {
    border-bottom: none;
    padding: 0;
    margin-bottom: -8px; }

.grid-table__cell {
  font-weight: 400;
  font-size: 12px;
  color: #2E3C54;
  letter-spacing: 0; }
  .grid-table__cell_head {
    font-size: 10px; }

.switch-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .switch-block_active .switch {
    background: #0290FF; }
    .switch-block_active .switch .switch__circle {
      background: white;
      transform: translate3d(22px, 0, 0); }

.switch {
  position: relative;
  display: flex;
  align-items: center;
  width: 50px;
  height: 29px;
  border: 1px solid #E3E3E3;
  border-radius: 50px;
  transition: all .3s ease-in-out;
  background: white; }
  .switch__circle {
    width: 25px;
    height: 25px;
    background: #F8F8F8;
    border: 1px solid #E3E3E3;
    border-radius: 25px;
    transform: translate3d(1px, 0, 0);
    transition: all .3s ease-in-out; }
